[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
setuptools = "*"
wheel = "*"
twine = "*"
pytest = "*"
pytest-datafiles = "*"
tox = "*"
versioneer = "*"
pre-commit = "*"

[packages]
pandas = ">=0.24"

[requires]
python_version = "3.6"
